extends main.pug




block view
  div(class="container search-bar")
    div(class="search-bar-outer")
      div(class="search-bar-inner")
        //-若頁面帶著id資訊，表示為edit功能
        form(action= "/restaurants/"+restaurant._id+"?_method=PUT" , method="post")
          div(class="form-group row")
            div(class="col-6")
              label(for="inputName" class="col-form-label" ) 店名 :
              div
                input(type="text" class="form-control" id="inputName" name='name' value= restaurant.name? restaurant.name : null , required)
            div(class="col-6")
              label(for="inputCategory" class="col-form-label" ) 類別 :
              div
                input(type="text" class="form-control" id="inputCategory" name='category' 
                value= restaurant.category? restaurant.category : null ,required)
          div(class="form-group")
            label(for="inputRating" class="col-form-label" ) 評分 :  
            label(class="col-form-label ml-2" id="rating-value-label") #{restaurant.rating}
            input(type="range" class="custom-range" id="inputRating" name='rating'  min="0" max="5" step="0.1" value= restaurant.rating? restaurant.rating : 2.5)
          div(class="form-group row")
            label(for="inputLocation" class="col-sm-3 col-form-label" ) 地址 :
            div(class="col-sm-9") 
              input(type="text" class="form-control" id="inputLocation" name='location' value= restaurant.location? restaurant.location : null ,required)
          div(class="form-group row")
            label(for="inputMapLink" class="col-sm-3 col-form-label" ) 地圖連結 :
            div(class="col-sm-9") 
              input(type="text" class="form-control" id="inputMapLink" name='google_map' value= restaurant.google_map? restaurant.google_map : null)
          div(class="form-group row")
            label(for="inputPhone" class="col-sm-3 col-form-label" ) 電話 :
            div(class="col-sm-9") 
              input(type="text" class="form-control" id="inputPhone" name='phone' value= restaurant.phone? restaurant.phone : null ,required)
          div(class="form-group row")
            label(for="inputPhotoLink" class="col-sm-3 col-form-label" ) 相片(連結) :
            div(class="col-sm-9") 
              input(type="text" class="form-control" id="inputPhotoLink" name='image' value= restaurant.image? restaurant.image : null ,required)
          div(class="form-group row")
            label(for="inputDescription" class="col col-form-label" ) 介紹 :
            div(class="col-sm-9") 
              textarea(class="form-control" id="col-sm-3 inputDescription" name="description" value= restaurant.description? restaurant.description : null) #{restaurant.description? restaurant.description : null}
          div(class="form-group row justify-content-center")
            button(type="submit" class="btn btn-major " id="new-button")
              //-若頁面帶有id，表示為edit功能，變更顯示字樣
              if restaurant._id
                |修改
              else 
                |新增

block script
  script(src="/js/new.js")
