extends layouts/main.pug


block view
  div(class = 'container')
    div(class='row py-5')
      div(class='col-8')
        h1 Log In to RESList
      div(class='col-4')
          button(type="button" class="row btn btn-success btn-block" ) Log In
          button(type="button" class="row btn btn-primary btn-block") Log In with Facebook