extends layouts/main.pug


block view
  include includes/message.pug
  div(class = 'container')
    div(class='row py-5')
      div(class='col-8')
        h1 Log In to RESLIST
      div(class='col-4')
          a(href="/users/login" class="btn btn-success btn-block" ) Log In
          a(href="/auth/facebook" class="btn btn-info btn-block") Log In with Facebook